# Virtual environment
.venv/

# Env files
.env
.env.*

# Python cache
__pycache__/
*.pyc

# Logs / outputs
*.txt
*.log
*.json

# Generated graph files
*.html

# OS files
.DS_Store
data/
*.jsonl
*.txt
